@media (min-width: 48rem){

    .mainCard {
        max-width: 41.2rem;

        min-height: 41.6rem;

        padding: 3.45rem 3.05rem;
    
        border-radius: 3rem;
    
        gap: 3.2rem;
    }

    .mainCard__svgIconContainer {
        height: 4.8rem;
        width: 4.8rem;
    }

    .mainCard__svgIconContainer__svgIcon {
        height: 1.7rem;
        width: auto;
    }

    .mainCard__ratingSection__title {
        font-size: var(--text-preset-1-font-size);
        font-weight: var(--text-preset-1-font-weight);
        line-height: var(--text-preset-1-line-height);
        letter-spacing: var(--text-preset-1-letter-spacing);
    }

    .mainCard__ratingSection__text {
        font-size: var(--text-preset-4-font-size-regular);
        font-weight: var(--text-preset-4-font-weight-regular);
        line-height: var(--text-preset-4-line-height-regular);
        letter-spacing: var(--text-preset-4-letter-spacing-regular);
    }

    .mainCard__ratingSection__buttonsContainer {
        justify-content: space-evenly;

        gap: 2.4rem;
    }

    .mainCard__ratingSection__buttonsContainer__button {
        height: 5.1rem;
        width: 5.1rem;
    
        font-size: var(--text-preset-3-font-size);
        font-weight: var(--text-preset-3-font-weight);
        line-height: 0;
        letter-spacing: 0;
    }

    .mainCard__ratingSection__submitButton {
        font-size: var(--text-preset-5-font-size-semibold);
        font-weight: var(--text-preset-5-font-weight-semibold);
        line-height: var(--text-preset-5-line-height-semibold);
        letter-spacing: var(--text-preset-5-letter-spacing-semibold);
    }
    










    .thankYouCard {
        max-width: 41.2rem;
        min-height: 41.6rem;
    
        padding: 4.45rem 3.6rem;
    
        border-radius: 3rem;
    
        gap: 3.2rem;
    }

    .thankYouCard__indexInfoSection {
        gap: 3.2rem;
    }

    .thankYouCard__indexInfoSection__svgIcon {
        height: 10.8rem;
        width: 16.2rem;
    }

    .thankYouCard__indexInfoSection__indexInfoContainer {
        height: 3.2rem;
        width: 19.3rem;
    }

    .thankYouCard__indexInfoSection__indexInfoContainer__indexInfo {
        font-size: var(--text-preset-4-font-size-regular);
        font-weight: var(--text-preset-4-font-weight-regular);
        line-height: var(--text-preset-4-line-height-regular);
        letter-spacing: var(--text-preset-4-letter-spacing-regular);
    
        text-align: center;
    
        width: 15.4rem;
        height: 2rem;
    
        color: var(--selection-info-container-text-color);
    }

    .thankYouCard__indexInfoSection__thankYouTitle {
        font-size: var(--text-preset-1-font-size);
        font-weight: var(--text-preset-1-font-weight);
        line-height: var(--text-preset-1-line-height);
        letter-spacing: var(--text-preset-1-letter-spacing);
    }

    .thankYouCard__indexInfoSection__thankYouText {
        font-size: var(--text-preset-4-font-size-regular);
        font-weight: var(--text-preset-4-font-weight-regular);
        line-height: var(--text-preset-4-line-height-regular);
        letter-spacing: var(--text-preset-4-letter-spacing-regular);
    }
}