:root {

    --text-preset-1-font-size: 2.8rem;
    --text-preset-1-font-weight: 700;
    --text-preset-1-line-height: 3.5rem;
    --text-preset-1-letter-spacing: 0;

    --text-preset-2-font-size: 2.4rem;
    --text-preset-2-font-weight: 700;
    --text-preset-2-line-height: 3rem;
    --text-preset-2-letter-spacing: 0;

    --text-preset-3-font-size: 1.6rem;
    --text-preset-3-font-weight: 700;
    --text-preset-3-line-height: 2.4rem;
    --text-preset-3-letter-spacing: 0.02rem;

    --text-preset-4-font-size-regular: 1.5rem;
    --text-preset-4-font-weight-regular: 400;
    --text-preset-4-line-height-regular: 2.4rem;
    --text-preset-4-letter-spacing-regular: 0rem;

    --text-preset-4-font-size-bold: 1.5rem;
    --text-preset-4-font-weight-bold: 700;
    --text-preset-4-line-height-bold: 1.9rem;
    --text-preset-4-letter-spacing-bold: 0.2rem;

    --text-preset-5-font-size-regular: 1.4rem;
    --text-preset-5-font-weight-regular: 400;
    --text-preset-5-line-height-regular: 2.2rem;
    --text-preset-5-letter-spacing-regular: 0;

    --text-preset-5-font-size-semibold: 1.4rem;
    --text-preset-5-font-weight-semibold: 600;
    --text-preset-5-line-height-semibold: 2.4rem;
    --text-preset-5-letter-spacing-semibold: 0.017rem;

    --text-preset-5-font-size-bold: 1.4rem;
    --text-preset-5-font-weight-bold: 700;
    --text-preset-5-line-height-bold: 1.8rem;
    --text-preset-5-letter-spacing-bold: 0.187rem;




    --body-background-color: #131518;

    --main-gradient-color-1: #232A34;
    --main-gradient-color-2: #181E27;

    --main-icon-background-color: #262E38;
    --main-icon-color: #FC7614;

    --highlight-text-color: #FFFFFF;
    --overall-text-color: #969FAD;

    --rating-butons-background-color: #262E38;
    --rating-buttons-text-color: #969FAD;
    --rating-butons-background-color-hover: #FFFFFF;
    --rating-butons-text-color-hover: #262E38;
    --rating-butons-background-color-selected: #FC7614;
    --rating-butons-text-color-selected: #262E38;

    --submit-button-background-color: #FC7614;
    --submit-button-text-color: #131518;
    --submit-button-background-color-hover: #FFFFFF;

    --selection-info-container-background-color: #262E38;
    --selection-info-container-text-color: #FC7614;
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100dvh;

    background-color: var(--body-background-color);
    font-family: Overpass, sans-serif;

    padding: 0 2.4rem;
}


.mainCard {
    display: flex;
    flex-direction: column;

    max-width: 32.7rem;
    min-height: 36rem;

    background: linear-gradient(to bottom, var(--main-gradient-color-1), var(--main-gradient-color-2));

    padding: 2.4rem;

    border-radius: 1.5rem;

    gap: 2.4rem;
}

.mainCard__svgIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 4rem;

    border-radius: 100%;

    background-color: var(--main-icon-background-color);
}

.mainCard__svgIconContainer__svgIcon {
    height: 1.4rem;
    width: auto;
}


.mainCard__ratingSection {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.mainCard__ratingSection__title {
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);

    color: var(--highlight-text-color);

    text-align: left;

}

.mainCard__ratingSection__text {
    font-size: var(--text-preset-5-font-size-regular);
    font-weight: var(--text-preset-5-font-weight-regular);
    line-height: var(--text-preset-5-line-height-regular);
    letter-spacing: var(--text-preset-5-letter-spacing-regular);

    color: var(--overall-text-color);

    text-align: left;
}

.mainCard__ratingSection__buttonsContainer {
    display: flex;
    justify-content: space-evenly;

    gap: 1.6rem;
}

.mainCard__ratingSection__buttonsContainer__button {

    height: 4.2rem;
    width: 4.2rem;

    font-size: var(--text-preset-5-font-size-bold);
    font-weight: var(--text-preset-5-font-weight-bold);
    line-height: var(--text-preset-5-line-height-bold);
    letter-spacing: 0;

    text-align: center;

    background-color: var(--rating-butons-background-color);
    color: var(--rating-buttons-text-color);

    border: none;
    border-radius: 100%;
    outline: none;

    cursor: pointer;
}

.mainCard__ratingSection__buttonsContainer__button:hover {
    background-color: var(--rating-butons-background-color-hover);
    color: var(--rating-butons-text-color-hover);
}

.mainCard__ratingSection__buttonsContainer__button:focus {
    background-color: var(--rating-butons-background-color-hover);
    color: var(--rating-butons-text-color-hover);
}

.mainCard__ratingSection__buttonsContainer__button--selected {
    background-color: var(--rating-butons-background-color-selected);
    color: var(--rating-butons-text-color-selected);
}

.mainCard__ratingSection__submitButton {
    height: 4.5rem;

    font-size: var(--text-preset-5-font-size-bold);
    font-weight: var(--text-preset-5-font-weight-bold);
    line-height: var(--text-preset-5-line-height-bold);
    letter-spacing: var(--text-preset-5-letter-spacing-bold);

    background-color: var(--submit-button-background-color);
    color: var(--submit-button-text-color);

    border: none;
    border-radius: 2.25rem;
    outline: none;

    cursor: pointer;
}

.mainCard__ratingSection__submitButton:hover,
.mainCard__ratingSection__submitButton:focus {
    background-color: var(--submit-button-background-color-hover);
}











.thankYouCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 32.7rem;
    min-height: 36rem;

    background: linear-gradient(to bottom, var(--main-gradient-color-1), var(--main-gradient-color-2));

    padding: 3.2rem 2.4rem;

    border-radius: 1.5rem;

    gap: 2.4rem;
}

.thankYouCard__indexInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2.4rem;
}

.thankYouCard__indexInfoSection__svgIcon {
    height: 9.6rem;
    width: 14.4rem;
}

.thankYouCard__indexInfoSection__indexInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 3.2rem;
    width: 16.8rem;

    background-color: var(--selection-info-container-background-color);

    border-radius: 2.25rem;
}

.thankYouCard__indexInfoSection__indexInfoContainer__indexInfo {
    font-size: var(--text-preset-5-font-size-regular);
    font-weight: var(--text-preset-5-font-weight-regular);
    line-height: var(--text-preset-5-line-height-regular);
    letter-spacing: var(--text-preset-5-letter-spacing-regular);

    text-align: center;

    width: 14.4rem;
    height: 2rem;

    color: var(--selection-info-container-text-color);
}

.thankYouCard__thankYouSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.6rem;
}

.thankYouCard__indexInfoSection__thankYouTitle {
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);

    text-align: center;

    color: var(--highlight-text-color);
}

.thankYouCard__indexInfoSection__thankYouText {
    font-size: var(--text-preset-5-font-size-regular);
    font-weight: var(--text-preset-5-font-weight-regular);
    line-height: var(--text-preset-5-line-height-regular);
    letter-spacing: var(--text-preset-5-letter-spacing-regular);

    text-align: center;

    color: var(--overall-text-color);
}


.hidden {
    display: none;
}